*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: linen;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(115deg, hsla(6, 100%, 38%, 0.541), hsla(240, 67%, 30%, 0.7)), url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

#title{
    padding: 50px 0 15px 0;
}
#form{
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 50%;
    margin: 20px auto 20px auto;
    
    
}