*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: cursive;
    color: linen;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    /*background-image: linear-gradient(115deg, hsla(240, 67%, 30%, 0.7), hsla(240, 67%, 30%, 0.7)), url('./images/background.jpg');*/
    background: linear-gradient(-45deg, hsla(14, 24%, 51%, 0.8), hsla(337, 78%, 57%, 0.8), hsla(196, 72%, 49%, 0.8), hsla(166, 72%, 49%, 0.8)),  url('./images/background2.jpg');
    background-size: 150% 150%;
    background-position: center;
    position: top;
    background-attachment: fixed;
    animation: gradient 15s ease-in infinite;
    
}
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes opc {
    0% {
		width: 20%;
        opacity: 0;
	}
	50% {
		width: 60%;
        opacity: 0.5;
	}
	100% {
		width: 100%;
        opacity: 1;
	}
}

#title{
    padding: 50px 0 15px 0;
}
#form{
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 20px auto 20px auto;
    max-width: 55%;
    border-radius: 20px;
    text-align: left;
    padding: 60px 0 20px 0;
    animation: opc 5s linear 1;
}
p.desc, #name-label, #email-label, #number-label{
    padding-left: 60px; 
} 
p.desc1 {
    padding: 20px 0 0 60px;
}
@media screen and (max-width: 992px) {
#form{
    max-width: 90%;
}
p.desc, #name-label, #email-label, #number-label{
    padding-left: 30px; 
} 
p.desc1 {
    padding: 20px 0 0 30px;
}
}
input:focus { 
    outline: none !important;
    border-color: #10c5dd;
    box-shadow: 0 0 20px #10c5dd;
}
textarea:focus { 
    outline: none !important;
    border-color: #10c5dd;
    box-shadow: 0 0 20px #10c5dd;
}

#name, #email, #number, #occupation, #dropdown{
    display: block;
    box-sizing: border-box; 
    justify-content: center;
    font-family: cursive;
    font-size: 0.85em;
    height: 35px;
    width: 85%;
    margin: 5px auto;
}
#device, #imprv{ 
    margin: 10px 20px 0 60px;
    height: 20px;
    width: 20px;
    
}
#suggst{
    display: block;
    box-sizing: border-box; 
    justify-content: center;
    font-family: cursive;
    font-size: 0.85em;
    height: 200px;
    width: 85%;
    margin: 5px auto;
}
#submit{
    display: block;
    box-sizing: border-box; 
    justify-content: center;
    font-family: cursive;
    font-size: 0.85em;
    height: 60px;
    width: 85%;
    margin: 5px auto;
    background-color:lime;
    color: white;
}
#submit:hover{
    background-color: lightseagreen;
    color: black;

}

